/* Mobile-first */
/* Backoffice.jsx */
.backofficeContainer {
    height: 130vh;
    background-color: #2A4F57;
    padding-top: 7rem;
    padding-bottom: 6rem;
}

/* BackofficeItems.jsx */
.backItemsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #fff;
        margin-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

    .activeComponentContainer {
        margin-top: 3rem;
    }

    .editButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .editBtn {
            background-color: #ffffff55;
            border: #000 solid 1px;
            padding: 0.5rem;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}

/* Rediger aktivitet */
.editActivities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .editActivity {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        p {
            color: #fff;
            font-size: 1.3rem;
        }

        .actButtons {
            background-color: #e2e2e2;
            border: #000 solid 1px;
            padding: 0.5rem;
            cursor: pointer;
            color: #000;
            text-decoration: none;
            font-size: 1rem;
        }

        .actButtons:hover {
            background-color: #c3c3c3;
        }
    }

    .editButton {
        background-color: #e2e2e2;
        border: #000 solid 1px;
        padding: 0.5rem;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 3rem;
    }

    .editButton:hover {
        background-color: #c3c3c3;
    }
} 

/* Desktop */
@media (min-width: 768px) {
    /* Backoffice.jsx */
    .backofficeContainer {
        height: 130vh;
        background-color: #2A4F57;
        padding-top: 7rem;
        padding-bottom: 6rem;
    }

    /* BackofficeItems.jsx */
    .backItemsContainer {
        h1 {
            font-size: 2.5rem;
        }

        .editButtons {
            .editBtn {
                font-size: 1.4rem;
            }
        }
    }

    /* Rediger aktivitet */
    .editActivities {
        .editActivity {
            p {
                color: #fff;
                font-size: 1.6rem;
            }

            .actButtons {
                font-size: 1.2rem;
            }
        }

        .editButton {
            font-size: 1.2rem;
        }
    } 
}